<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-horizontal" id="addCarformid">
    <div class="form-group">
        <label for="carName" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="carName" name="carName" placeholder="name">
        </div>
    </div>
    <div class="form-group">
        <label for="carDate" class="col-sm-2 control-label">日期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control date" name="carDate" id="carDate" placeholder="birthday">
        </div>
    </div>
    <div class="form-group">
        <label for="carPrice" class="col-sm-2 control-label">价格</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="carPrice" id="carPrice" placeholder="Price">
        </div>
    </div>
    <div class="form-group">
        <!-- <label for="birthday" class="col-sm-2 control-label">头像</label>
         <div class="col-sm-10">
             <input type="text" id="testimg" name="headImg2" />
             &lt;!&ndash; projectfile &ndash;&gt;
             <input type="file" multiple class="projectfile" accept="image/*" name="img" id="goodsImg">
         </div>-->
    </div>
</form>
<script>
    $(function () {
        setDate()
    })
</script>
</body>
</html>